<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Prueba Articulos</title>
</head>
<body>
<div>
    <h1>TIENDA UTIL</h1>
    <img th:src="@{/images/LogoTiendaUtil.png}" alt="Logo">
</div>
<div>
    <form>
        <table border="1px">
            <tr>
                <th><h3>Registrar Articulo</h3></th>
            </tr>
            <tr>
                <td>Nombre</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Precio</td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Cantidad</td>
                <td><input type="text"></td>
            </tr>
        </table>
        <button>Registrar</button>
    </form>
</div>
<div>
    <div>
        <h2>Catalogo de Utiles</h2>
        <table border="1px">
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Precio Unit.</th>
                <th>Cantidad Disp.</th>
            </tr>
            <tr></tr>
            <tr></tr>
        </table>
    </div>
    <a th:href="@{/}">Regresar</a>
</div>
</body>
</html>