<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Articulos</title>
    <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2e21902613.js" crossorigin="anonymous"></script>
</head>
<body>

<header class="container text-center">
    <div class="p-5 bg-dark text-white rounded">
        <div class="m-2">
            <h1>INVENTARIO  <i class="fa-solid fa-warehouse" style="color: #ffffff;"></i></i></h1>
        </div>
        <div class="m-1">
            <h3>Registrar, Visualizar y Eliminar Articulos</h3>
        </div>
    </div>
</header>
<br>
<div class="container text-center">
    <div class="row align-items-center">
        <div class="col-6 border border-dark rounded" style="background-color:rgb(247, 249, 249)">
            <form th:action="@{/guardarArticulo}" method="post" th:object="${articulo}">
                <div class="row">
                    <div class="row text-center m-2">
                        <h3>Registrar Articulo</h3>
                    </div>
                    <input type="hidden" name="cod_articulo" th:field="*{cod_articulo}">
                    <div class="row text-center m-1">
                        <div class="col-6">
                            <label for="nombre">Articulo</label>
                        </div>
                        <div class="col-6">
                            <input type="text" name="nombre" th:field="*{nombre}" class="form-control">
                            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"> Error nombre</span>
                        </div>
                    </div>
                    <div class="row text-center m-2">
                        <div class="col-6">
                            <label for="precio_unit">Precio</label>
                        </div>
                        <div class="col-6">
                            <input type="text" name="precio_unit" th:field="*{precio_unit}" class="form-control">
                            <span th:if="${#fields.hasErrors('precio_unit')}" th:errors="*{precio_unit}"> Error precio</span>
                        </div>
                    </div>
                    <div class="row text-center m-2">
                        <div class="col-6">
                            <label for="cantidad">Cantidad</label>
                        </div>
                        <div class="col-6">
                            <input type="text" name="cantidad" th:field="*{cantidad}" class="form-control">
                            <span th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}"> Error cantidad</span>
                        </div>
                    </div>
                    <div class="row text-center m-2">
                        <div class="col-6 mx-auto">
                            <input type="submit" name="guardar" value="Registrar Articulo" role="button" class="btn btn-success" onclick="location.reload()">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-6">
            <img th:src="@{/images/Inventario.png}" alt="Logo" class="img-fluid" >
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="row text-center m-2">
            <h2>Catalogo de Utiles</h2>
        </div>
        <div th:if="${articulos!=null and !articulos.empty}" class="row d-flex justify-content-center">
            <div class="col-9">
                <table class="table align-middle">
                    <thead class="table-secondary">
                        <tr>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Precio Unit.</th>
                            <th>Cantidad Disp.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="articulo : ${articulos}">
                            <td th:text="${articulo.cod_articulo}">Mostrar codigo</td>
                            <td th:text="${articulo.nombre}">Mostrar nombre</td>
                            <td th:text="${articulo.precio_unit}">Mostrar precio</td>
                            <td th:text="${articulo.cantidad}">Mostrar cantidad</td>
                            <td><a th:href="@{/eliminarArticulo/} + ${articulo.cod_articulo}">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:if="${articulos==null or articulos.empty}">
            Lista de Articulos vacia
        </div>
    </div>
    <div class="container text-center m-3">
        <a th:href="@{/}" role="button" class="btn btn-primary">Regresar</a>
    </div>
</div>
</body>
</html>