<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
</head>
<body>

<header th:replace="layout/plantilla :: header"></header>

<div>
    <!--th:object busca entre las entidades del paquete domain-->
    <form th:action="@{/guardarCliente}" method="post" th:object="${cliente}">
        <table border="1px">
            <tr>
                <th><h3>Registrar Cliente</h3></th>
            </tr>
            <input type="hidden" name="cod_cliente" th:field="*{cod_cliente}">
            <tr>
                <td>
                    <label for="nombre">Nombres y Apellidos</label>
                </td>
                <td><input type="text" name="nombre" th:field="*{nombre}"></td>
                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error nombre</span>
            </tr>
            <tr>
                <td>
                    <label for="ruc">RUC</label>
                </td>
                <td><input type="text" name="ruc" th:field="*{ruc}"></td>
                <span th:if="${#fields.hasErrors('ruc')}" th:errors="*{ruc}">Error RUC</span>
            </tr>
        </table>
        <input type="submit" name="guardar" value="Registrar Cliente" onclick="location.reload()">
    </form>
</div>

<div>
    <div>
        <h2>Catalogo de Utiles</h2>
        <div th:if="${clientes!=null and !clientes.empty}">
            <table border="1px">
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>RUC</th>
                    <th></th>
                </tr>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.cod_cliente}">Mostrar codigo</td>
                    <td th:text="${cliente.nombre}">Mostrar nombres</td>
                    <td th:text="${cliente.ruc}">Mostrar RUC</td>
                    <td><a th:href="@{/eliminarCliente/} + ${cliente.cod_cliente}">Eliminar</a></td>
                </tr>
            </table>
        </div>
        <div th:if="${clientes==null or clientes.empty}">
            Lista de Clientes vacia
        </div>
    </div>
    <a th:href="@{/}">Regresar</a>
</div>
</body>
</html>