<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Compra Utiles</title>
    <script src="/js/main.js"></script>
</head>
<body>
<header th:replace="layout/plantilla :: header"></header>
<div>
    <table>
        <tr>
            <th><h3>Cliente</h3></th>
        </tr>
        <tr>
            <td>Nombres</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Apellidos</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>RUC</td>
            <td><input type="text"></td>
        </tr>
    </table>
</div>
<div>
    <div>
        <h2>Utiles</h2>
        <input id="nombre-articulo" type="text">
        <button onclick="buscarArticulos()">Buscar</button>
        <br>
        <br>
        <div>
            <table id="tabla-articulos" border="1px">

            </table>
        </div>
    </div>
    <div>
        <h2>Carrito</h2>
        <input type="button" value="Comprar">
        <br>
        <br>
        <table id="tabla-carrito" border="1px">

        </table>
        <h3>Total</h3>
        <p id="total-carrito">$ 0.00</p>
    </div>
    <a th:href="@{/}">Regresar</a>
</div>
</body>
</html>