<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Compra Utiles</title>
</head>
<body>
<header th:replace="layout/plantilla :: header"></header>
<div>
    <table>
        <tr>
            <th><h3>Cliente</h3></th>
        </tr>
        <tr>
            <td>Nombres</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>Apellidos</td>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td>RUC</td>
            <td><input type="text"></td>
        </tr>
    </table>
</div>
<div>
    <div>
        <h2>Utiles</h2>
        <form>
            <input id="busca-articulo" name="nombreArticulo" type="text">
            <input type="submit" name="guardar" value="Bucar" onclick="">
        </form>
    </div>
    <div>
        <h2>Carrito</h2>
        <input type="button" value="Comprar">
        <table>
            <tr>
                <th>Código</th>
                <th>Articulo</th>
                <th>Cantidad</th>
                <th></th>
            </tr>
            <tr></tr>
            <tr></tr>
        </table>
    </div>
    <a th:href="@{/}">Regresar</a>
</div>
</body>
</html>