<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/2e21902613.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container text-center">
            <div class="p-5 bg-dark text-white rounded">
                <div class="m-2">
                    <h1>Tienda Util <i class="fa-solid fa-triangle-exclamation fa-sm" style="color: #ffffff;"></i></i></h1>
                </div>
            </div>
        </div>
        <div class="bg-light text-center pt-5" style="height: 100vh;">
            <div class="container">
                <h1 class="display-1 pt-5 font-weight-bold">Error</h1>
                <h1 class="display-4 pt-1 pb-3">Hubo un problema, intente de nuevo</h1>
                <h3 class="font-weight-light text-secondary">Asegurese de ingresar datos correctos o de ejecutar una acción valida</h3>
                <a th:href="@{/}" role="button" class="btn btn-primary mt-3 pt-3 pb-3 pr-4 pl-4">Regresar a Inicio</a>
            </div>
        </div>
    </header>
</body>
</html>