<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tienda Util</title>
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <div>
        <table border="1px">
            <tr>
                <td><a th:href="@{/compra}">Registrar Compra</a></td>
                <td><a th:href="@{/cliente}">Clientes</a></td>
            </tr>
            <tr>
                <td><a th:href="@{/cliente}">Facturas</a></td>
                <td><a th:href="@{/articulo}">Inventario</a></td>
            </tr>
            <tr>
                <td><a href="index.html">Cuentas por Cobrar</a></td>
            </tr>
        </table>

    </div>
</body>
</html>