<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tienda Util</title>
</head>
<body>
    <div>
        <h1>TIENDA UTIL</h1>
        <img src="/imagenes/LogoTiendaUtil.png" alt="Logo">
    </div>
    <div>
        <table border="1px">
            <tr>
                <td><a href="index.html">Registrar Compra</a></td>
                <td><a href="index.html">Clientes</a></td>
            </tr>
            <tr>
                <td><a href="index.html">Facturas</a></td>
                <td><a href="index.html">Inventario</a></td>
            </tr>
            <tr>
                <td><a href="index.html">Cuentas por Cobrar</a></td>
            </tr>
        </table>

    </div>
</body>
</html>